@font-face {
  font-family: "IBM Plex Sans";
  src: url("../src/IBM_Plex/IBMPlexSans-Regular-Latin1.woff2") format('woff2');
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../src/IBM_Plex/IBMPlexSans-SemiBold-Latin1.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../src/IBM_Plex/IBMPlexSans-SemiBoldItalic-Latin1.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../src/IBM_Plex/IBMPlexSans-Italic-Latin1.woff2") format('woff2');
  font-style: italic;
}