:root {
  --main-bg: white;
  --main-text: black;
  --main-font: "IBM Plex Sans";
}

body {
  margin-left: 2%;
  font-family: var(--main-font);
  background-color: var(--main-bg);
  color: var(--main-text);
}



/*Anti Reset*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {font-size: 24pt; }
h2 {font-size: 16pt; }
h3 {font-size: 14pt; }
h4 {font-size: 12pt; }
p {line-height: 140%; }
code {
  font-family: monospace;
  background: lightgrey;
}



.nav {
  grid-area: header;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row flex-wrap: wrap;
  align-items: center;
}

.navTitle {
  flex-grow: 1;
  justify-content: flex-start;
}

.navLinks {
  justify-content: flex-end;
  margin-left: 3%;
}

.nav a {
  text-decoration: none;
  color: var(--main-text);
}

